# Ignore everything
*
# But these ...
!package.json
!package-lock.json
!32-feedparse.html
!32-feedparse.js
!README.md
!LICENSE
!examples/flows.json
!locales/en-US/32-feedparse.html
!locales/en-US/32-feedparse.json